.convector_container {
  display: flex;
  gap: 50px;
     @media screen and (max-width: 462px) {
      gap: 25px;
     }
  .convectorIcon {
    border: none;
    background: none;
    padding: 0;
    display: flex;
    justify-content: center;
  }
}
